
  services:
    movieAPI:
      image: 620914207029.dkr.ecr.eu-west-1.amazonaws.com/movie_api:movie-api
      container_name: movieAPI
      env_file: .env
      expose:
        - "8000"
      depends_on:
        - postgres
        - redis
      networks:
        - movie-api-network
      volumes:
        - backend-logs:/app/logs

        
    frontend:
      image: 620914207029.dkr.ecr.eu-west-1.amazonaws.com/movie_api:frontend
      container_name: frontend
      expose:
        - "8082"
      depends_on:
        - movieAPI
      networks:
        - movie-api-network

    gateway:
      image: 620914207029.dkr.ecr.eu-west-1.amazonaws.com/movie_api:gateway
      container_name: gateway
      ports:
        - "80:80"
      depends_on:
        - movieAPI
        - frontend
      networks:
        - movie-api-network


    postgres:
      image: postgres:15
      container_name: postgres
      environment:
        - POSTGRES_USER=${DB_USER}
        - POSTGRES_PASSWORD=${DB_PASSWORD}
        - POSTGRES_DB=${DB_NAME}
      expose:
        - "5432"
      volumes:
        - pgdata:/var/lib/postgresql/data
      networks:
        - movie-api-network

    redis:
      image: redis:7
      container_name: redis
      expose:
        - "6379"
      volumes:
        - redisdata:/data
      networks:
        - movie-api-network

    node-exporter:
      image: prom/node-exporter
      container_name: node-exporter
      ports:
        - "9100:9100"
      restart: unless-stopped
      networks:
        - movie-api-network

    postgres-exporter:
      image: prometheuscommunity/postgres-exporter
      container_name: postgres-exporter
      environment:
        - DATA_SOURCE_NAME=${DATA_SOURCE_NAME}
      ports:
        - "9187:9187"
      depends_on:
        - postgres
      networks:
        - movie-api-network

    redis-exporter:
      image: oliver006/redis_exporter
      container_name: redis-exporter
      command: ["--redis.addr=redis:6379"]
      ports:
        - "9121:9121"
      depends_on:
        - redis
      networks:
        - movie-api-network

    elasticsearch:
      image: docker.elastic.co/elasticsearch/elasticsearch:8.12.0
      container_name: elasticsearch
      environment:
        - discovery.type=single-node
        - ES_JAVA_OPTS=-Xms512m -Xmx512m
        - xpack.security.enabled=false
      ports:
        - "9200:9200"
      volumes:
        - esdata:/usr/share/elasticsearch/data
      networks:
        - movie-api-network

    kibana:
      image: docker.elastic.co/kibana/kibana:8.12.0
      container_name: kibana
      ports:
        - "5601:5601"
      depends_on:
        - elasticsearch
      networks:
        - movie-api-network

    filebeat:
      image: docker.elastic.co/beats/filebeat:8.12.0
      container_name: filebeat
      user: root
      volumes:
        - ./filebeat/filebeat.yml:/usr/share/filebeat/filebeat.yml:ro
        - backend-logs:/app/logs
      depends_on:
        - elasticsearch
      networks:
        - movie-api-network



  networks:
    movie-api-network:
      driver: bridge
      internal: false
      
  volumes:
    pgdata:
    redisdata:
    backend-logs:
