groups:
- name: node-exporter-alerts
  rules:

  - alert: NodeExporterDown
    expr: up{job="node_exporter"} == 0
    for: 1m
    labels:
      severity: critical
    annotations:
      summary: "Node Exporter is down"
      description: "Prometheus cannot scrape the Node Exporter on the EC2 instance."
