groups:
  - name: postgres-alerts
    rules:
      - alert: PostgresDown
        expr: pg_up{job="postgres_exporter"} == 0
        for: 30s
        labels:
          severity: critical
        annotations:
          description: "PostgreSQL is DOWN on {{ $labels.instance }}"
